body {
  padding: 10px;
  width: 500px;
  margin: auto;
}
.ext-body {
  width: 90%;
  margin: auto;
  overflow-wrap: break-word;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#cookieBody {
  width: 100%;
}
.title {
  font-size: 20px;
  font-weight: 500;
}

li {
  list-style-type: none;
  font-size: 15px;
  border: 1px solid black;
  margin: 10px 0;
  padding: 8px 5px;
  margin-left: -35px;
}
.icon {
  height: 30px;
  width: 30px;
}
